@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Raleway:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Raleway:ital,wght@1,300&display=swap');


.Interest_question {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.career_question {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

select {
    font-size: 20px;  /* Adjust to suit your needs, affects the size of the text inside the dropdown */
    width: 300px;      /* Adjust to suit your needs, affects the dropdown's width */
    height: 40px;      /* Adjust to suit your needs, affects the dropdown's height */
    padding: 10px;     /* Adjust to suit your needs, affects the inner space of the dropdown */
}

