/* Add CSS styles for the icon and line */
.icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
  border: 2px solid transparent;
}


/* Add CSS styles for the tree container */
.tree {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodeLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}