.btn {
    background-color: #9A53D0; /* Use the specified color from your color palette */
    font-family: 'BlenderProBook', sans-serif;
}

.btn:hover {
    background-color: #818DE0; /* Change the color on hover */
    transition: all 0.3s ease-out;
    color: #fff;
}
