/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Blender+Pro+Book&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Blender Pro Book', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('Background/verse.png'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center top; 
  min-height: calc(100vh - 110px); 
  color: #97E3FE;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3); /* Add a slight text shadow */
}

/* Site Container */
.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  padding: 20px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: rgba(16, 1, 32, 0.8);
  border-bottom: rgb(67, 4, 109) solid;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 33%;
  padding: 0 20px;
}

.logo {
    max-width: 400px;
    max-height: 120px;
    margin-right: 10px;
    margin-left: -42%;
}

/* Link */
.nav-links {
  display: flex;
  width: 700px;
  margin-left: -650px;
}

.nav-links a {
  font-family: 'Blender Pro Book', sans-serif;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  padding: 40px;
  transition: background-color 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.user-section {
  width: 300px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-address {
  margin-left: 10px;
}

.profile {
  margin-right: 20px;
}

.login-btn,
.logout-btn {
  background-color: #F394F8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.login-btn:hover,
.logout-btn:hover {
  background-color: #9A53D0;
}

/* Input Section */
.input-select {
width: 100%;
padding: 10px;
border: 2px solid #818DE0;
border-radius: 5px;
background-color: transparent;
color: #97E3FE;
font-size: 20px;
margin-bottom: 30px;
cursor: pointer;
transition: border-color 0.3s ease-in-out;
}

.input-select:focus {
outline: none;
border-color: #9A53D0;
}

.input-select option {
  background-color: rgba(34, 3, 67, 1);
  color: #97E3FE;
  font-size: 20px;
  padding: 10px 15px;
}

/* Adjust the user-info styling */
.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px; /* Add margin to separate elements */
}